.destination-single {
  border-radius: 3px;
  padding: 0 1em 1em 0;
  font-weight: bold;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.destination-single a:hover {
  color: grey;
}